body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Nunito', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #cc1430;
    color: white;
}

.header-logo a img {
    height: 50px;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header li {
    margin: 0 20px;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

.header a:hover {
    color: #340000;
    font-weight: bold;
}

.main {
    text-align: center;
}

.contact-form {
    background-color: #fff;
    padding: 40px 5%;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
}

.form-container h2 {
    font-size: 40px;
    color: #333;
}

form label {
    display: block;
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #cc1430;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #340000;
}

.footer {
    background-color: #cc1430;
    color: white;
    text-align: center;
    padding: 40px 0;
}

.footer-links {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

.footer-links a:hover {
    font-weight: bold;
    color: #340000;
}

.copyright {
    font-size: 16px;
    margin-top: 20px;
}
